header {
        background-color:#6666FF;
        color:lightgrey;
        text-align:center;
        padding:5px;
            }  
h1 {
        font-size: 60px;
    }    
ul {
        padding:10px;
        text-align:center;
        background:green;
        border: 2px solid white;
    }
li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
div {
        padding:5px;
        background: url("https://images.unsplash.com/photo-1440470177828-6381dc5074ba?fit=crop&fm=jpg&h=650&ixlib=rb-0.3.5&q=80&w=1050");        
        }
h3 {
        text-align:center; 
        color:#6666FF;
    }
p { 
        padding:20px;
        text-align:center;    
    }
img {
        border: 5px solid white;
        border-radius: 5px;
    }